---
page_title: "Provider: adlc"
description: |-
  ADLC is an Active Directory Lifecycle provider that manages directory objects and
  policy through PowerShell 7 on a remote Windows host over WinRM or SSH.
---

# adlc Provider

{{ .Description | trimspace }}

## Requirements

- PowerShell 7 (`pwsh`) on the target host. The provider may run on Windows Powershell, but all tests are conducted on PowerShell 7.
- The `ActiveDirectory` and `GroupPolicy` PowerShell module on the target host.
- WinRM (http or HTTPS on default ports 5985 or 5986, respectively) or OpenSSH (port 22) reachable from wherever Terraform runs

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

## Authentication

| Transport | Mechanisms |
| --- | --- |
| `winrm` | `basic`, `ntlm`, `kerberos` |
| `ssh` | password, private key |

Doing winrm over http is really an inside-domain-thing. Prefer HTTPS when runner is outside the AD domain. You may be able to get 
http between an outside-of-domain-runner and the target in-domain-host working, but you should not. It is simply better to use 
HTTPS, or SSH. Note that getting for instance SSH keys from Hashicorp or Azure vault in the terraform config is beyond the scope of this 
provider - there are of course other proper Terraform providers for that. However, in time I may supply examples on the topic of 
managing secrets, related to this provider of course.


{{ .SchemaMarkdown | trimspace }}
